@import url('https://fonts.cdnfonts.com/css/brie');


@import url('https://fonts.cdnfonts.com/css/rossela');


* {
  margin: 0;
  padding: 0;
  color: rgb(51, 51, 51);
  font-family: Inter, sans-serif;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: rgb(236, 248, 255);
}

header {
  background-color: rgb(32, 206, 206);
  display: flex;
  align-items: center;
  padding: 10px 70px;
  height: 150px;
  box-sizing: border-box;
  position: relative;
}

header:after {
  content: '☁☁☁☁☁☁☁☁☁';
  font-size: 230px;
  position: absolute;
  bottom: -180px;
  left: -0;
  text-align: center;
  width: 100%;
  color: rgb(32, 206, 206);
  transform: rotate(180deg);
  z-index: -1;
}

header > img {
  width: 80px;
}

header > form {
  margin: 0 auto;
  background-color: white;
  border-radius: 20px;
  width: 730px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

header > form > input {
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 24px;
  flex-grow: 1;
  font-family: ROSSELA, sans-serif;
}

header > form > input:focus {
  outline: none;
}

header > form > input::placeholder {
  color: lightgray;
}

header > form > button {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 30px;
  cursor: pointer;
  border-left: 1px solid rgb(190, 190, 190);
}

ul {
  list-style: none;
  display: flex;
  padding: 70px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.city {
  width: 370px;
  height: 370px;
  border: 1px solid rgb(0, 176, 255);
  border-bottom: none;
  box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.33);
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-flow: column;
  background-color: white;
  margin-top: 25px;
}

.city-name {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 10px;
  text-align: center;
  font-family: ROSSELA, sans-serif;

}

.city-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 15px;
  border-bottom: 1px solid rgb(156, 156, 156);
}

.city-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 15px;
  flex-grow: 1;
  flex-direction: column;
}

.city-info-container p {
  font-family: Brie Light, sans-serif;
  font-weight: 900;
  font-size: 18px;
}

.btn-prev-weather {
  display: flex;
  justify-content: space-between;
  background-color: rgb(192, 241, 241);
  text-align: center;
  flex-grow: 1;
  padding: 10px 120px;
  margin-bottom: 15px;
  margin-top: 5px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
}

.btn-prev-weather:hover {
  cursor: pointer;
  background-color: white;
  border: 5px solid rgb(192, 241, 241);
}

.city-temp-container {
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.city-temp {
  font-weight: 700;
  font-size: 14px;
}

.city-forecast-button {
  border: none;
  background: rgb(0, 176, 255);
  border-radius: 0 0 20px 20px;
  width: 100%;
  height: 50px;
  font-weight: 900;
  font-size: 24px;
  color: white;
  cursor: pointer;
}


/* O QUE ISSO FAZ? */
.city-forecast-button:hover {
  background: rgb(0, 151, 219);
}

.forecast-container {
  position: absolute;
  box-shadow: 0 0 0 500px rgba(0, 0, 0, 0.8);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  background: white;
  border-radius: 15px;
}

.forecast-container > button {
  position: absolute;
  background: none;
  right: 5px;
  top: 5px;
  border: none;
  cursor: pointer;
}

.forecast-container > button > i {
  color: rgb(84, 137, 206);
  font-weight: 900;
  font-size: 30px;
}

.forecast-container > button:hover > i {
  color: rgb(0, 110, 255);
}

.weekdays {
  display: flex;
  gap: 25px;
  padding: 30px 20px 15px;
}

.hidden {
  display: none;
}

.forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 180px;
  border-radius: 8%;
  background-color: rgb(192, 241, 241);
  padding: 10px 15px;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.1);
}

.forecast-weekday {
  font-weight: 700;
  font-size: 24px;
  font-family: ROSSELA, sans-serif;
}

.forecast-icon {
  width: 80px;
}

.forecast-middle-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.forecast-temp-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.forecast-temp-container > * {
  flex-basis: 50%;
}

.forecast-condition {
  font-weight: 600;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  text-align: center;
  font-family: Brie Light, sans-serif;
}

.max {
  font-weight: 800;
  font-size: 13px;
  color: rgb(18, 138, 207);
}

.min {
  font-weight: 700;
  font-size: 13px;
  color: rgb(18, 138, 207);
}
